/*Delay Marcas y Galeria*/
.marca-galeria1 {
  animation-delay: 120ms; }

.marca-galeria2 {
  animation-delay: 240ms; }

.marca-galeria3 {
  animation-delay: 360ms; }

.marca-galeria4 {
  animation-delay: 480ms; }

.marca-galeria5 {
  animation-delay: 600ms; }

.marca-galeria6 {
  animation-delay: 720ms; }

.marca-galeria7 {
  animation-delay: 840ms; }

.marca-galeria8 {
  animation-delay: 960ms; }

.marca-galeria9 {
  animation-delay: 1080ms; }

.marca-galeria10 {
  animation-delay: 1200ms; }

.marca-galeria11 {
  animation-delay: 1320ms; }

.marca-galeria12 {
  animation-delay: 1440ms; }

.marca-galeria13 {
  animation-delay: 1560ms; }

.marca-galeria14 {
  animation-delay: 1680ms; }

.marca-galeria15 {
  animation-delay: 1800ms; }

.marca-galeria16 {
  animation-delay: 1920ms; }

.marca-galeria17 {
  animation-delay: 2040ms; }

.marca-galeria18 {
  animation-delay: 2160ms; }

.marca-galeria19 {
  animation-delay: 2280ms; }

/*-----------------------*/
/*PALETA DE COLORES DE MI PAGINA*/
/*---------------------------------*/
/*Header*/
/*PALETA DE COLORES DE MI PAGINA*/
/*---------------------------------*/
header {
  border-bottom: solid 0.2rem #003f9a;
  background-color: white; }
  header i {
    padding-left: .5rem;
    font-size: 1rem; }
  header button {
    background-color: red; }
  header .container-fluid {
    padding-left: 0;
    padding-right: 0; }
  header li:hover {
    background-color: #ff9900;
    transition: all 0.35s; }
  header a:hover {
    color: #fff;
    text-decoration: none;
    transition: all 0.35s; }
  header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0; }
  header .active {
    color: #ff9900; }
  header li {
    position: relative; }
    header li > ul {
      position: absolute;
      box-sizing: content-box;
      max-height: 0;
      width: 100%;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.7);
      border-left: solid 2px #003f9a;
      border-bottom: solid 2px #003f9a;
      border-right: solid 2px #003f9a;
      transform: translateX(-1%); }
  header li:hover > ul {
    display: block;
    max-height: 300px;
    width: 100%;
    list-style: none;
    transition: all 0.6s; }

.menuLink {
  text-decoration: none;
  color: black;
  display: block;
  font-weight: 400;
  font-size: 0.99rem;
  padding: 1.2rem 0.9rem; }

.subMenu {
  list-style: none;
  text-decoration: none; }

/*----------*/
/*Main's de cada seccion*/
main #contacto .form-control:focus {
  border-color: #ff9900;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #fd7e14;
  /*averiguar box-shadow;*/ }

/*PALETA DE COLORES DE MI PAGINA*/
/*---------------------------------*/
main .container-fluid {
  padding-left: 0;
  padding-right: 0; }

main #index .row {
  margin: 0; }
  main #index .row > div {
    padding-left: 0;
    padding-right: 0; }

main #index .somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2871cc;
  color: white;
  text-align: center;
  padding: 1rem; }
  main #index .somos h2 {
    letter-spacing: 0.5rem; }
  main #index .somos p,
  main #index .somos h5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

main #index #rubros {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: black; }
  main #index #rubros h2 {
    text-align: center;
    color: #ff9900;
    font-style: italic; }
  main #index #rubros p {
    color: white; }
  main #index #rubros div.row {
    align-items: center; }
  main #index #rubros span {
    display: flex;
    justify-content: center; }
  main #index #rubros .iconIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #003f9a;
    color: #fff;
    border-radius: 50%; }
  main #index #rubros .iconText {
    color: white;
    font-weight: 700;
    font-style: italic; }

/*MEDIA QUERIES*/
@media (max-width: 767.98px) {
  .somos h2 {
    margin-bottom: 1rem;
    font-size: 1.7rem; }
  .somos p,
  .somos h5 {
    font-size: 1rem; }
  #rubros div.row {
    margin-bottom: 2rem; }
  #rubros .iconIndex {
    width: 7rem;
    height: 7rem;
    font-size: 3rem;
    margin: 1rem; }
  #rubros .iconText {
    font-size: 1.5rem;
    text-align: center; }
  #rubros p {
    text-align: center; }
  #rubros h2 {
    font-size: 3rem;
    padding-bottom: 1.5rem; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .somos h2 {
    margin-bottom: 1rem;
    font-size: 2rem; }
  .somos p,
  .somos h5 {
    font-size: 1rem; }
  #rubros div.row {
    margin-bottom: 2rem; }
  #rubros .iconIndex {
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
    margin: 1.5rem; }
  #rubros .iconText {
    font-size: 2rem;
    text-align: center; }
  #rubros p {
    text-align: center; }
  #rubros h2 {
    font-size: 4rem;
    padding-bottom: 2rem; } }

@media (min-width: 992px) {
  .somos h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem; }
  .somos p,
  .somos h5 {
    font-size: 1.3rem; }
  #rubros div.row {
    margin-bottom: 4rem; }
  #rubros .iconIndex {
    width: 12rem;
    height: 12rem;
    font-size: 6rem; }
  #rubros .iconText {
    font-size: 2.5rem; }
  #rubros p {
    text-align: left; }
  #rubros h2 {
    font-size: 4.5rem;
    padding-bottom: 4rem; } }

/*PALETA DE COLORES DE MI PAGINA*/
/*---------------------------------*/
#insumos {
  background-color: #84c4fc; }
  #insumos .baseInsumos .customMarcas {
    padding: 2.5rem; }

main #laEmpresa {
  font-size: 1rem; }

/*----------*/
/*Header*/
/*PALETA DE COLORES DE MI PAGINA*/
/*---------------------------------*/
footer {
  background: #003f9a; }
  footer .container {
    padding-left: 0rem;
    padding-right: 0rem; }
  footer .row {
    margin: 1rem 0rem; }
    footer .row div {
      padding: 0; }
    footer .row i {
      color: #ff9900; }
  footer ul,
  footer li,
  footer a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0; }
  footer a:hover {
    color: #ff9900; }
  footer p,
  footer h5 {
    color: white;
    padding: 0;
    margin-bottom: 0.6rem; }
  footer .copyright {
    background: #003178;
    font-size: .9rem;
    padding: .5rem; }
  footer .navbar-brand {
    margin-right: 0;
    padding-top: 0; }
  footer .navFooter {
    margin-left: .5rem; }

/*----------*/
/*GENERALES*/
* {
  padding: 0;
  margin: 0; }

html {
  font-family: "Roboto", sans-serif; }

body {
  color: white; }

/*---------------------------------*/
main {
  background: #2871cc; }

h1 {
  font-size: 2rem; }

div.obra img {
  opacity: 0.3; }

div.obra a {
  text-decoration: none;
  color: #003f9a;
  font-weight: 700;
  font-size: 2rem;
  font-style: oblique;
  text-align: center; }

.grilla {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

.carousel-indicators > li {
  border-radius: 100%;
  height: 0.8rem;
  width: 0.8rem; }

.obra {
  position: relative; }

.textoImagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#galeria div {
  height: 155px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  overflow: hidden; }

#galeria div:hover {
  transform: scale(1.05, 1.05); }

/*MEDIA QUERIES*/
@media (max-width: 575.98px) {
  .customMarcas {
    padding: 1.5rem; }
  h1 {
    font-size: 1.5rem; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .customMarcas {
    padding: 2rem; }
  #galeria div {
    height: 115px; }
  h1 {
    font-size: 1.5rem; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .customMarcas {
    padding: 1.5rem; }
  #galeria div {
    height: 115px; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  #galeria div {
    height: 155px; } }

@media (min-width: 1200px) {
  #galeria div {
    height: 190px; } }

/*----------------------------------------------*/
