/*PALETA DE COLORES DE MI PAGINA*/
$color-fondo: #78c1ff;
$inicio-gradiente-footer:#2871cc;
$color-detalles: #003f9a;
$efecto-hover: #ff9900;
$copyright: #003178;
$sectionIcons: black;
/*---------------------------------*/