@import "colors";

footer {

    background-image: linear-gradient(to bottom, $inicio-gradiente-footer, $color-detalles);

    .row {
        margin: 1rem 0rem;

        div {
            padding: 0;
        }
    }

    ul,
    li,
    a {
        text-decoration: none;
        list-style: none;
        color: white;
        margin: 0;
    }

    a:hover {
        color: orange;
    }

    p,
    h5 {
        color: white;
        padding: 0;
        margin-bottom: 0.6rem;
    }

    .copyright {
        background: #003178;
        font-size: .8rem;
        padding: .5rem;
    }

    .navbar-brand{
        margin-right: 0;
        padding-top: 0;
    }
}