@import "colors";
@import "mixins";

main {
    .container-fluid {
        @include lateralsPaddings(0, 0);
    }
    .somos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        background-color: $inicio-gradiente-footer;
        color: white;
        text-align: center;
        h2 {
            letter-spacing: 0.5rem;
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 0.5rem;
        }
    }

    #rubros {
        padding-top: 2rem;
        padding-bottom: 8rem;
        background-color: $sectionIcons;

        > h3 {
            text-align: center;
            color: $efecto-hover;
            padding-bottom: 4rem;
            font-style: italic;
            font-size: 4rem;
        }
        > div.row {
            align-items: center;
            @include lateralsPaddings(1rem, 1rem);
            margin-bottom: 5rem;
        }
        span {
            display: flex;
            justify-content: center;
        }
        .iconIndex {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 12rem;
            height: 12rem;
            padding: 0.5rem;
            font-size: 6rem;
            background-color: $color-detalles;
            color: #fff;
            border-radius: 50%;
            margin: 5px;
        }

        .iconText {
            color: white;
            font-size: 3rem;
            font-weight: 700;
            font-style: italic;
            text-align: left;
        }
    }
}
